<div class="card my-5">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-end mb-4">
        <h3 class="mb-0">
          {{ titulo }}
          <!-- Interpolación para enviar datos desde el .ts hacia el html -->
        </h3>
      </div>
      <form [formGroup]="frm_Asignacion" (ngSubmit)="grabar()">
        <div class="row">
          <!-- Asignación ID -->
          <div class="form-group mb-3">
            <label class="form-label" for="AsignacionID">Asignación ID</label>
            <input formControlName="asignacion_id" type="number" class="form-control" id="AsignacionID" placeholder="Ingrese el ID de la asignación" />
            <div *ngIf="frm_Asignacion.get('asignacion_id').invalid && frm_Asignacion.get('asignacion_id').touched">
              <small *ngIf="frm_Asignacion.get('asignacion_id').hasError('required')" style="color: red">El ID de la asignación es requerido</small>
            </div>
          </div>
  
          <!-- Estudiante ID -->
          <div class="form-group mb-3">
            <label class="form-label" for="EstudianteID">Estudiante ID</label>
            <input formControlName="estudiante_id" type="number" class="form-control" id="EstudianteID" placeholder="Ingrese el ID del estudiante" />
            <div *ngIf="frm_Asignacion.get('estudiante_id').invalid && frm_Asignacion.get('estudiante_id').touched">
              <small *ngIf="frm_Asignacion.get('estudiante_id').hasError('required')" style="color: red">El ID del estudiante es requerido</small>
            </div>
          </div>
  
          <!-- Profesor ID -->
          <div class="form-group mb-3">
            <label class="form-label" for="ProfesorID">Profesor ID</label>
            <input formControlName="profesor_id" type="number" class="form-control" id="ProfesorID" placeholder="Ingrese el ID del profesor" />
            <div *ngIf="frm_Asignacion.get('profesor_id').invalid && frm_Asignacion.get('profesor_id').touched">
              <small *ngIf="frm_Asignacion.get('profesor_id').hasError('required')" style="color: red">El ID del profesor es requerido</small>
            </div>
          </div>
  
          <!-- Botón de Grabar -->
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="frm_Asignacion.invalid">Grabar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  